@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
*{margin: 0; padding: 0;box-sizing: border-box;}
a{text-decoration: none; color: inherit;}
ul,li,ol{list-style: none;}
img{vertical-align: bottom;}
table{border-collapse: collapse;}
body{
    font-family: "Didact Gothic", sans-serif;
    font-size: 14px;
}
.clear_fix::before ,
.clear_fix::after{
            content: "";
            display: block;
            clear: both;}
